.img_formula {
  background: url("../../assets/img/lab5.png");
  height: 300px;
  max-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
}
